
.peekingEye {
    position: absolute;
    top: 7em;
    left: 12em;
    height: 2em;
    margin: 0 !important;
    border: none !important;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
}

#peekingEye {
    display: none;
}

button {
    font-size: 0.8em;
}