
.reveal h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

.peekingEye {
    position: absolute;
    top: 7em;
    left: 12em;
    height: 2em;
    margin: 0 !important;
    border: none !important;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    display: none;
}

button {
    font-size: 0.8em;
}

circle.amplitude {
    fill: #add8e6;
}

line.phaseLine {
    stroke: red;
    stroke-width: 1px;
}

circle.phaseLineEnd {
    fill: red;
}
