<!doctype html>
<html ng-app>
  <head>
    <script src="angular.js"></script>
    <script src="repeatedController.js"></script>
  </head>
  <body>
    <div ng-controller="MainController">
        <ul>
            <li ng-repeat="item in items" ng-controller="ItemController">
                <button ng-click="moveUp()" ng-disabled="$first">Move Up</button>
                <button ng-click="moveDown()" ng-disabled="$last">Move Down</button>
                <button ng-click="deleteItem()">Delete</button>
                <input type="checkbox" ng-model="foo" />
                <button ng-click="showFoo()">foo</button>
                <input ng-model='item.amount'/>: {{item.name}}
            </li>
        </ul>
        <button ng-click="addItem()">Add New Item</button>
        <div>
            Total: {{total()}}
        </div>
    </div>
  </body>

</html>
